/*//////////////////////////////////////////////////////////
////             DESARROLLADO POR JOSEPH TORRES         ////
////    https://josephtorresdev.github.io/portafolio/   ////
////                                                    ////
////////////////////////////////////////////////////////////

/* FORMACION */

html {
    min-width: 1000px !important;
}

main {
    padding: 10px 80px 10px 80px;
    background: lightgray;
}


/* MAIN CURSOS */

.titulo-principal-main {
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgba(13 25 73);
    text-align: left;
    padding: 30px;
}

.main-cuarto {
    background: rgba(230, 230, 230);
}

.main-cursos {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.duo-items {
    display: flex;
    justify-content: space-evenly;
}

.titulo-curso-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 20px 0 10px 0;
    margin: 0 5px 0 5px;
     
}

.parrafo-curso-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: gray;
}

.curso-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0;
    padding: 20px 0 20px 0;
    border: solid 2px #b5b5b5;
    background-color: rgba(13 25 73);
    transition: 0.3s;
    border-radius: 20px;
}

.curso-item img {
    margin: 0 auto 0 auto;
    width: 100px;
    height: 100px;
}   

.boton-certificado {
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 10px auto 10px auto;
    color: gray;
    text-decoration: none;
    border: solid 1px gray;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.boton-certificado:hover {
    color: rgba(13 25 73);
    background:gray;
}


/* BOTON IR ARRIBA */

.ir-arriba {
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:210px;
	right:10px;
	filter: invert(6%) sepia(50%) saturate(5520%) hue-rotate(229deg) brightness(95%) contrast(96%);
}


/* RESPONSIVE */

@media (max-width: 1000px) {

    main {
        padding: 0 0 0 0;
        background: gray; 
    }

    /* MAIN CURSOS */

    .curso-item {
        width: 80% !important;
    }
    
    .titulo-principal-main {
        font-size: 40px;
        position: relative;
        text-align: center;
    }

    .main-cursos {
        padding: 30px 50px 30px 50px;
    }

    .duo-items {
        flex-direction: column;
        align-items: center;
    }

    .titulo-curso-item {
        font-size: 30px;
    }

    .parrafo-curso-item {
        font-size: 25px;
    }

    .curso-item img {
        width: 160px;
        height: 160px;
    }
    
    .boton-certificado {
        font-size: 30px;
        padding: 15px;
        margin: 30px auto 30px auto;
    }
	
    .ir-arriba {
        bottom: 800px;
        right:30px;
    }
}
