/* Portafolio Joseph Torres */
/* Contacto */


main {
    background:lightgray; 
}


.anchoformulario{
    float: left;
    padding-bottom: 100px;
    padding-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 7%;
    width: 35%;
    background-color: white;
    border-radius: 5%;
}

form{
    margin-left: 3%;
    margin-top: 50px;
}

form label, form legend{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 65%;
}

.Formatobotonenviar{
    width: 40%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #222881;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.Formatobotonenviar:hover{
    background: grey;
    transform: scale(1.1);
}

.datos-contacto {
    float: right;
    width: 35%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 90px;
    background-color: white;
    border-radius: 5%;
    margin-right: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo-datos-contacto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 30px;
}

.subtitulo-datos-contacto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 20px;
}

.item-datos-contacto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 20px;
    list-style:none;
}


.titulo-redes-sociales-contacto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.redes-sociales a {
    text-decoration: none;
    color:#222881; 
}

.redes-sociales {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 13px;
    list-style: none; 
}

.medios-pago {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: 26px;
    padding-bottom: 18px;
}

.item-medio-pago {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-weight: bold;
    color: #222881;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 8px;
}


@media (min-width: 200px) and (max-width: 768px) {
    .anchoformulario{
        width: 70%;
        margin-left: 13%;
        margin-top: 50px;
        margin-bottom: 0px;
        
    }

    .datos-contacto {
        width: 70%;
        float: left;
        margin-left: 13%;
    }
}