/*//////////////////////////////////////////////////////////
////             DESARROLLADO POR JOSEPH TORRES         ////
////    https://josephtorresdev.github.io/portafolio/   ////
////                                                    ////
////////////////////////////////////////////////////////////

/* FOOTER */

.footer-general {
    display: flex;
    background-color:#0D1949;
    flex-direction: column;    
    padding: 20px 80px 20px 80px;
    clear: both;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

/* DESCRIPCION SITIO WEB */

.descripcion-and-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descripcion-sitio-web {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.item-descripcion {
    font-family: Arial;
    font-size: 12px;
    color: lightgrey;
    padding-top: 5px;
    list-style: none;
}

/* TITULO FOOTER */

.titulo-footer {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    margin: 0 auto 0 auto;
    padding-top: 20px;
}

/* REDES SOCIALES FOOTER */

.div-redes-sociales {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: right;
}

.titulo-descripcion-redes {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 20px 0 10px 0;
    clear: both;
}

.iconos-redes-sociales {
    display: flex;
    flex-direction: row-reverse;
    float: right;
}

.iconos-redes-sociales img {
    width: 25px;
    height: 25px;
}

.lista-footer{
    margin-left: 20px;
    text-align: right;
}

.item-descripcion-redes {
    font-family: Arial;
    font-size: 12px;
    color: lightgrey;
    text-align: right;
    padding-top: 5px;
}


/* MENU FOOTER */ 

.menu-footer {
    display: flex;
    padding-bottom: 6px;
    border-bottom: solid 1px white;
}

.menu-item-footer:nth-child(3) {
    padding-left: 15px;
}

.menu-item-footer:nth-child(5) {
    padding-left: 15px;
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    
    .footer-general {
        padding: 20px 40px 20px 40px;
    }

    footer a {
        font-size: 30px;
        padding-top: 50px;
    }

    .titulo-footer {
        display: none;
    }

    .descripcion-and-redes {
        display: flex;
        flex-direction: column;
    }

    .item-descripcion {
        font-family: Arial;
        font-size: 25px;
    }

    .descripcion-sitio-web {
        width: 100%;
        text-align: center;
    }

    .titulo-descripcion-redes {
        font-size: 30px;
        padding: 60px 0 20px 0;
    }

    .lista-footer {
        margin-left: 30px;
    }

    .div-redes-sociales {
        width: 100%;
        text-align: center
    }

    .iconos-redes-sociales {
        justify-content: center
    }

    .iconos-redes-sociales img {
        width: 50px;
        height: 50px;
    }
        
    .item-descripcion-redes {
        font-size: 25px;
        text-align: center;
    }

    .menu-footer {
        padding-top: 40px;
        margin-bottom: 12px;
        border-bottom: solid 1px white;
    }

    .menu-item-footer:nth-child(3) {
        padding-left: 50px;
    }
    
    .menu-item-footer:nth-child(5) {
        padding-left: 50px;
    }
}