/* Portafolio Joseph Torres */
/* Header */

header {
    background-color: #1A237E;
    display: flex;
    padding-right: 80px;
}

.header-principal {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
}

.top-menu {
    display: flex;
    align-items: center;      
}

.top-menu-item {
    display: flex;
    margin-left: 25px;
    cursor: pointer;
}


nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    border-bottom: solid 2px white;
}

.top-menu-item img {
    filter: invert(96%) sepia(100%) saturate(46%) hue-rotate(53deg) brightness(107%) contrast(100%);
}

/* IDIOMA */

.en, .es {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 6px;
}

.en {
    color: white;
}

.es {
    color: white;
}

.check {
    position: relative;
    width: 50px;
    margin-bottom: 15px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: lightgray;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border-radius: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
    border: 2px solid #333;
}

.check:checked:before {
    background: #333;
}


@media only screen and (max-width: 768px) {

    header {
        padding-right: 0;
    }
    
    nav a {
        font-size: 35px;  
    }  

    .header-principal {
        flex-direction: column;
        height: 170px;
        padding-left: 0;
        padding-top: 15px;
    }

    .top-menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .top-menu-item {
        margin-top: 30px;
        margin-left: 0px
    }

    .top-menu-item img {
        width: 25px;
        height: 25px;
    }
}

