/* Portafolio Joseph Torres */
/* Header */

header {
    min-width: 760px;
    background-color: #1A237E;
    display: flex;
    padding-right: 80px;
}

.header-principal {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
}

.top-menu {
    display: flex;
    align-items: center;      
}

.top-menu-item {
    display: flex;
    margin-left: 25px;
    cursor: pointer;
}


nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    border-bottom: solid 2px white;
}

.top-menu-item img {
    filter: invert(96%) sepia(100%) saturate(46%) hue-rotate(53deg) brightness(107%) contrast(100%);
}



@media only screen and (max-width: 768px) {

    header {
        padding-right: 0;
    }
    
    nav a {
        font-size: 25px;  
    }  

    .header-principal {
        flex-direction: column;
        height: 170px;
        padding-left: 0;
        padding-top: 15px;
    }

    .top-menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .top-menu-item {
        margin-top: 15px;
        margin-left: 0px
    }

    .top-menu-item img {
        width: 25px;
        height: 25px;
    }
}

