/*//////////////////////////////////////////////////////////
////             DESARROLLADO POR JOSEPH TORRES         ////
////    https://josephtorresdev.github.io/portafolio/   ////
////                                                    ////
////////////////////////////////////////////////////////////

/* HEADER */

header {
    background-color: #0D1949;
    display: flex;
    padding-right: 80px;
}

.header-principal {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
}

.top-menu {
    display: flex;
    align-items: center;      
}

.top-menu-item {
    display: flex;
    margin-left: 45px;
    cursor: pointer;
}

.hidden-computer {
    display: none;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(236deg) brightness(105%) contrast(101%);
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    border-bottom: solid 2px white;
}

.active {
    font-weight: bold;
    font-size: 20px;
    border-bottom: solid 2px white;
}

.top-menu-item img {
    filter: invert(96%) sepia(100%) saturate(46%) hue-rotate(53deg) brightness(107%) contrast(100%);
}

/* IDIOMA */

.en, .es {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 6px;
}

.en {
    color: white;
}

.es {
    color: white;
}

.check {
    position: relative;
    width: 50px;
    margin-bottom: 15px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: lightgray;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border-radius: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after{
    left: 25px;
}

.check:checked:before {
    background: lightgray;
}

@media only screen and (max-width: 1000px) {

    .header-principal {
        height: 120px;
        border-bottom: solid 2px white;
    }

    .top-menu {
        display: none;
    }

    .hidden-computer {
        display: flex;
        align-items: center;
    }

    .top-menu {
        display: none;
        position: fixed;
        flex-direction: column;
        top: -0px;
        left: 0px;
        width: 75%;
        height: 100%;
        background: rgba(12,12,12,0.90);
        z-index: 999;
        text-align: center;
        padding: 0 50px 0 50px;
    }

    .top-menu {
        padding-top: 150px;
    }

    .top-menu-item {
        padding: 30px 50px 30px 50px;
        margin: 30px;
        justify-content: center;
        align-items: center;
        border: solid 2px white;
    }

    .menu-oculto {
        font-size: 30px;
        font-weight: bold;
        padding-right: 20px;
    }

    nav a {
        font-size: 40px;
    }

    .en, .es {
        font-size: 40px;
        padding: 0 15px 0 15px;
    }

    .check {
        width: 100px;
        margin-bottom: 30px;
    }
    
    .check:before {
        width: 100px;
        height: 50px;
        border-radius: 50px;
    }
    
    .check:after {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
    
    .check:checked:after{
        left: 50px;
    }
}