/* Portafolio Joseph Torres */


html {
    min-width: 960px !important;
}

main {
    padding: 10px 80px 10px 80px;
    background: lightgray;
}

/* MAIN PRIMERO */

.main-bienvenida{
    display: flex;
    flex-direction: column;
    background-image:url(../img/hero.jpg); 
    text-align: left;
    padding: 60px 20px 70px 5%;
}

.titulo-bienvenida{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.lista-bienvenida {
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    list-style-type: none;   
}

.descargar-curriculum {
    margin: 30px 0 20px 0;
    background: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 220px;
    text-decoration: none;
}


.descargar-curriculum:hover {
    background: white;
    color: black;
}

/*MAIN SEGUNDO */

.titulo-principal-main {
    position: sticky;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgba(13 25 73);
    text-align: left;
    padding: 30px;
}


.main-segundo {
    background: rgba(230, 230, 230);
}

.item-formacion {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 50px;
    text-align: center;
}

.main-habilidades {
    display: flex;
    flex-direction: row;
    padding: 30px 50px 30px 350px;
    text-align: center;
    flex-wrap: wrap;
}

.item-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#1A237E;
    padding: 50px 0 50px 0;
}

.item-habilidades img {
    margin: 0 auto 0 auto;
    cursor: pointer;
}

/* MAIN TERCERO */


/* MAIN CUARTO */

.main-cuarto {
    background: rgba(230, 230, 230);
}

.main-cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px 50px 30px 350px;
}

.titulo-curso-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 10px 0 10px 0;
    margin: 0 5px 0 5px;
     
}

.parrafo-curso-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
}

.curso-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 40px;
    padding: 20px 0 20px 0;
    border: solid 2px white;
    background-color: rgba(13 25 73);
    transition: 0.3s;
    border-radius: 5%;
}

.curso-item:hover {
    transform: scale(1.05);
}

.titulo-curso-item:hover, .parrafo-curso-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.curso-item img {
    margin: 0 auto 0 auto;
    border-radius: 50%;
}


.boton-certificado {
    width: 35%;
    background: transparent;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    margin: 10px auto 10px auto;
    color: white;
    text-decoration: none;
    border: solid 1px white;
    cursor: pointer;
    border-radius: 5%;
    transition: 0.3s;
}

.boton-certificado:hover {
    color: rgba(13 25 73);
    background:white;

}

/* RESPONSIVE */


@media (max-width: 1100px) {
    .curso-item {
    width: 80% !important;
    }
}

@media (max-width: 960px) {
    main {
        padding: 0 0 0 0;
        background: gray; 
    }
    
    .descargar-curriculum {
        width: 300px;
        font-size: 20px;
}

    .boton-certificado {
        width: auto;
    }

    .titulo-bienvenida{
        font-size: 30px;
    }
    
    .lista-bienvenida {
        font-size: 20px;  
    }

    .titulo-principal-main {
        font-size: 30px;
    }

    .titulo-curso-item {
        font-size: 20px;
    }

    .parrafo-curso-item {
        font-size: 15px;
    }
}
